@import 'vendor/fonts.scss';

@import 'vendor/_normalize.scss';

@import 'vendor/vars.scss';

@import 'vendor/animations.scss';

html {
	scrollbar-gutter: stable;
}

body {
	font-family: "Inter";

	&.lock {
		overflow: hidden;
	}
}

.page {
	overflow: hidden;
	padding-top: 82px;

	@media(min-width: 1024px) {
		padding-top: 109px;
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.hamRotate180.active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: $prim;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham1 .top {
	stroke-dasharray: 40 139;
}

.ham1 .bottom {
	stroke-dasharray: 40 180;
}

.ham1.active .top {
	stroke-dashoffset: -98px;
}

.ham1.active .bottom {
	stroke-dashoffset: -138px;
}

.primary-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 48px;
	background-color: $bg-ter;
	gap: 15px;
	border-radius: 20px;
	transition: 0.3s;

	&__plus {
		width: 32px;
		height: 32px;
		border-radius: 8px;
		background-color: $bg-prim;
		position: relative;
		transition: background-color 0.3s;

		&::after {
			content: "";
			display: block;
			width: 12px;
			height: 2px;
			position: absolute;
			top: 15px;
			left: 10px;
			background-color: $blue;
		}

		&::before {
			content: "";
			display: block;
			width: 2px;
			height: 12px;
			position: absolute;
			top: 10px;
			left: 15px;
			background-color: $blue;
			transition: transform 0.3s;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 16px;
		color: #6398FD;
	}

	@media(hover:hover) {
		&:hover {
			background-color: #82ADFD4D;

			.primary-button__plus::before {
				transform: rotate(90deg);
			}
		}
	}

	@media(max-width: 1023px) {
		padding: 14px;
		border-radius: 10px;

		&__text {
			font-size: 16px;
		}
	}
}

.nav-buttons {
	display: flex;
	gap: 10px;
}

.nav-button {
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.3s;

	svg {
		max-height: 30px;
		filter: brightness(1);
		transition: 0.3s;
	}

	&_blue {
		background-color: #D0E0FE66;

		&.swiper-button-disabled {
			opacity: 0.5;
		}

		path {
			fill: #4A7AD4;
		}

		@media(hover : hover) {
			&:not(.swiper-button-disabled):hover {
				background-color: #4A7AD4;

				svg {
					filter: brightness(3);
				}
			}
		}
	}

	&_white {
		background-color: $bg-prim;

		path {
			fill: $blue;
		}
	}

	&_back {
		transform: rotate(180deg);
	}
}

.breadcrambs {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 35px;

	&__home {
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			path {
				fill: #2B3746;
			}
		}
	}

	&__link {
		color: #2B3746CC;
		padding: 2px 8px;
		background-color: #8A8C9924;
		border-radius: 6px;
		font-size: 12px;
		line-height: 16px;
		display: block;
	}

	&__separator {
		opacity: 0.5;
		font-size: 12px;
		line-height: 16px;
		color: #2B374680;
	}

	a.breadcrambs__link {
		opacity: 0.5;
		transition: opacity 0.3s;

		@media(hover : hover) {
			&:hover {
				opacity: 1;
			}
		}
	}

	@media(min-width: 1024px) {
		margin-bottom: 100px;

		&__link {
			font-size: 14px;
			line-height: 20px;
			padding: 2px 12px;
		}
	}
}

@import 'vendor/header.scss';
@import 'vendor/footer.scss';
@import 'vendor/intro.scss';
@import 'vendor/steps.scss';
@import 'vendor/targets.scss';
@import 'vendor/princ.scss';
@import 'vendor/best-clinics.scss';
@import 'vendor/smi.scss';
@import 'vendor/articles.scss';
@import 'vendor/about.scss';
@import 'vendor/clinic.scss';
@import 'vendor/popups.scss';
@import 'vendor/sitemap.scss';
@import 'vendor/not-found.scss';
@import 'vendor/contacts.scss';

.text-block {
	font-size: 16px;
	line-height: 24px;
	font-size: 16px;
	line-height: 24px;
	color: #2B374680;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 30px;
		line-height: 36px;
		color: #2B3746;

	}

	@for $i from 1 through 6 {
		h#{$i}:not(:first-child) {
			margin-top: 60px;
		}

		h#{$i}:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	img {
		border-radius: 30px;
		overflow: hidden;
	}

	b {
		font-weight: 700;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	a {
		text-decoration: underline;
		color: $blue-color;
		transition: color 0.3s;

		@media(hover : hover) {
			&:hover {
				color: $orange;
			}
		}
	}

	ol {
		padding-left: 35px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		li {
			list-style-position: outside;

			&:not(:last-child) {
				margin-bottom: 14px;
			}

			&::marker {
				color: $blue-color;
				font-weight: 700;
			}
		}
	}

	ul {
		padding-left: 25px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		li {
			list-style: disc;

			&::marker {
				color: $blue;
				font-size: 18px;
			}

			&:not(:last-child) {
				margin-bottom: 14px;
			}
		}
	}

	blockquote {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		padding: 20px;
		border-radius: 20px;
		border: 1px solid #EDEDEE;
		row-gap: 20px;
		column-gap: 10px;
		margin-bottom: 30px;
		color: $blue-color;

		&::after {
			content: '';
			background-image: url("../img/other/quote-marker.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 34px 26px;
			font-size: 120px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			width: 60px;
			height: 60px;
			color: $blue-color;
			border-radius: 10px;
			background-color: $bg-ter;
			order: -2;
		}

		&::before {
			content: "";
			flex-basis: calc(100% - 70px);
			display: block;
			height: 1px;
			background-color: #EDEDEE;
		}
	}
}

@media(min-width: 1024px) {
	.text-block {
		font-size: 20px;
		line-height: 28px;

		h1, h2, h3,h4, h5, h6{
			font-size: 36px;
			line-height: 42px;
		}

		blockquote{
			font-size: 24px;
			line-height: 32px;
			flex-wrap: nowrap;
			padding: 30px;
			border-radius: 30px;
			gap: 30px;
			align-items: center;

			&::before{
				width: 1px;
				height: 96px;
				flex-basis: 1px;
			}

			&::after{
				width: 80px;
				height: 80px;
			}
		}
	}
}