<footer class="footer">
	<div class="footer__container">
		<div class="footer__col footer__col_logo to_animate down-fade animation-group">
			<a class="footer__logo logo">
				<div class="logo__img">
					<img src="assets/img/header/logo.png" alt="Логотип сайта">
				</div>
				<p class="logo__text">нарко клиники</p>
			</a>
		</div>
		<div class="footer__col footer__col_contacts to_animate down-fade animation-group">
			<p class="footer__title">
				Контактная информация
			</p>
			<div class="footer__contact">
				<p>Почта:</p>
				<a href="#">info@narcokliniki.com</a>
			</div>
			<div class="footer__contact">
				<p>Круглосуточный номер:</p>
				<a href="#">8 (800) 800-80-80</a>
			</div>
			<div class="footer__contact">
				<p>Режим работы:</p>
				<p class="footer__contact-info">Круглосуточно, без выходных</p>
			</div>
		</div>
		<div class="footer__col footer__col_links to_animate down-fade animation-group">
			<p class="footer__title">
				Навигация
			</p>
			<a href="#" class="footer__link">О проекте</a>
			<a href="#" class="footer__link">Все клиники</a>
			<a href="#" class="footer__link">Консультации</a>
			<a href="#" class="footer__link">Контакты</a>
			<a href="#" class="footer__link">Политика конфиденциальности</a>
			<a href="#" class="footer__link">Пользовательское соглашение</a>
		</div>
		<div class="footer__col footer__col_info to_animate down-fade animation-group">
			<p class="footer__title">
				Юридическая информация
			</p>
			<p>ООО "Название компании"</p>
			<p>ОГРН 0000000000000</p>
			<p>ИНН 0000000000000</p>
			<p>КПП 0000000000000</p>
			<p>Информация не заменяет консультацию врача и не является медицинской услугой.</p>
		</div>
	</div>
</footer>