<section class="princ">
	<div class="princ__container">
		<p class="princ__title to_animate right-fade">
			Наши приоритеты <span>и принципы</span>
		</p>
		<p class="princ__subtitle to_animate left-fade">
			Мы готовы предложить вам полный спектр информационных услуг в сфере лечения наркозависимости, алкоголизма и реабилитации зависимых.
		</p>
		<div class="princ__inner">
			<div class="princ__item to_animate down-fade animation-group">
				<div class="princ__row">
					<picture class="princ__icon to_animate fade-in">
						<source srcset="assets/img/princ/icon.webp" type="image/webp">
						<img src="assets/img/princ/icon.png" alt="Ок">
					</picture>
					<p class="princ__name">
						Точные данные
					</p>
				</div>
				<p class="princ__text">
					Информация актуализируется ежедневно, тщательно проверяется нашими сотрудниками на достоверность.
				</p>
			</div>
			<div class="princ__item to_animate down-fade animation-group">
				<div class="princ__row">
					<picture class="princ__icon to_animate fade-in">
						<source srcset="assets/img/princ/icon.webp" type="image/webp">
						<img src="assets/img/princ/icon.png" alt="Ок">
					</picture>
					<p class="princ__name">
						Масштабный проект
					</p>
				</div>
				<p class="princ__text">
					Портал охватывает все районы РФ и содержит самую полную базу наркологических клиник и центров.
				</p>
			</div>
			<div class="princ__item to_animate down-fade animation-group">
				<div class="princ__row">
					<picture class="princ__icon to_animate fade-in">
						<source srcset="assets/img/princ/icon.webp" type="image/webp">
						<img src="assets/img/princ/icon.png" alt="Ок">
					</picture>
					<p class="princ__name">
						Честность рейтинга
					</p>
				</div>
				<p class="princ__text">
					Наша модерация точно распознаёт заказные и фейковые отзывы и удаляет накрутки.
				</p>
			</div>
			<div class="princ__item to_animate down-fade animation-group">
				<div class="princ__row">
					<picture class="princ__icon to_animate fade-in">
						<source srcset="assets/img/princ/icon.webp" type="image/webp">
						<img src="assets/img/princ/icon.png" alt="Ок">
					</picture>
					<p class="princ__name">
						Анонимные отзывы
					</p>
				</div>
				<p class="princ__text">
					Вы можете оставить отзыв о наркологическом центре или клинике абсолютно анонимно.
				</p>
			</div>
			<div class="princ__item to_animate down-fade animation-group">
				<div class="princ__row">
					<picture class="princ__icon to_animate fade-in">
						<source srcset="assets/img/princ/icon.webp" type="image/webp">
						<img src="assets/img/princ/icon.png" alt="Ок">
					</picture>
					<p class="princ__name">
						Независимость проекта
					</p>
				</div>
				<p class="princ__text">
					Сервис не аффилирован с клиниками, поэтому рекомендации и рейтинг формируются объективно и без рекламы.
				</p>
			</div>
			<div class="princ__item to_animate down-fade animation-group">
				<div class="princ__row">
					<picture class="princ__icon to_animate fade-in">
						<source srcset="assets/img/princ/icon.webp" type="image/webp">
						<img src="assets/img/princ/icon.png" alt="Ок">
					</picture>
					<p class="princ__name">
						Удобный подбор
					</p>
				</div>
				<p class="princ__text">
					Помогаем быстро найти клинику по городу, специализации, рейтингу и другим важным параметрам.
				</p>
			</div>
		</div>
	</div>
</section>