<section class="smi">
	<div class="smi__container">
		<p class="smi__title"></p>
		<div class="smi__swiper swiper">
			<div class="swiper-wrapper">
				<div class="smi__card">
					<div class="smi__row">
						<picture class="smi__logo">
							<source srcset="" type="image/svg+xml">
							<img src="" alt="">
						</picture>
						<div class="smi__col">
							<p class="smi__name">
								Афиша Daily
							</p>
							<p class="smi__des">
								Медиа о культуре и обществе
							</p>
						</div>
					</div>
					<div class="smi__text">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>